#red_button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#red_button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#red_button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#red_button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#circle_button {
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

#mp_exit_button {
    -fx-background-image: url("../res/ico/close.png");
    -fx-background-position: center center;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0);
    -fx-background-radius: 5em;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
}
#mp_exit_button:hover {
    -fx-background-color: #505050;
}
#mp_exit_button:pressed {
    -fx-background-color: #202020;
}

#mp_next_button {
    -fx-background-image: url("../res/ico/next.png");
    -fx-background-position: center center;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0); 
    -fx-background-radius: 5em;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
}
#mp_next_button:hover {
    -fx-background-color: #505050;
}
#mp_next_button:pressed {
    -fx-background-color: #202020;
}

#mp_play_button, #mp_pause_button {
    -fx-background-position: center center;
    -fx-background-radius: 5em;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
}
#mp_play_button {
    -fx-background-color: #ffffff;
    -fx-background-image: url("../res/ico/play_black.png");
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0); 
}
#mp_pause_button {
    -fx-background-color: black;
    -fx-background-image: url("../res/ico/pause_white.png");
    -fx-effect: dropshadow(three-pass-box, #000000, 3, 0, 0, 0); 
}
#mp_play_button:hover {
    -fx-background-color: #505050;
}
#mp_play_button:pressed {
    -fx-background-color: #202020;
}
#mp_pause_button:hover {
    -fx-background-color: #202020;
}
#mp_pause_button:pressed {
    -fx-background-color: #505050;
}

#vr_button_start, #vr_button_stop {
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0); 
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
}
#vr_button_start {
    -fx-background-color: #ff5400;
}
#vr_button_start:hover {
    -fx-background-color: #ffaa55;
}
#vr_button_start:pressed {
    -fx-background-color: #ffeedd;
}
#vr_button_stop {
    -fx-background-color: #ff9944;
}
#vr_button_stop:hover {
    -fx-background-color: #ff7722;
}
#vr_button_stop:pressed {
    -fx-background-color: #ff5500;
}