#stan_button {
-fx-background-color: #1a4d71; 
-fx-border-color: rgba(0, 0, 0, 0.4); 
-fx-border-width: 1;
/*
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  */
}